<aside
  [class.w-64]="!isCollapsed()"
  [class.w-20]="isCollapsed()"
  class="h-screen bg-white border-r border-gray-200 flex flex-col font-sans z-20 transition-all duration-300 relative whitespace-nowrap overflow-hidden">

  <div class="flex items-center h-20" [class.px-6]="!isCollapsed()" [class.justify-center]="isCollapsed()">
    <button (click)="toggleSidebar()" class="text-solve-primary hover:bg-blue-50 p-2 rounded-md transition-colors cursor-pointer">
      <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </button>
  </div>

  <nav class="flex flex-col gap-2 mt-4" [class.px-4]="!isCollapsed()" [class.px-2]="isCollapsed()">

    <a routerLink="/dashboard" routerLinkActive="text-solve-dark font-bold bg-blue-50" class="flex items-center gap-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all" [class.px-4]="!isCollapsed()" [class.justify-center]="isCollapsed()">
      <span class="text-xl shrink-0">📊</span>
      @if (!isCollapsed()) {
        <span class="text-sm font-semibold">Dash</span>
      }
    </a>

    @if (userRole() === 'ADMIN') {
      <a routerLink="/gestion" class="flex items-center gap-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all" [class.px-4]="!isCollapsed()" [class.justify-center]="isCollapsed()">
        <span class="text-xl shrink-0">👥</span>
        @if (!isCollapsed()) { <span class="text-sm font-semibold">Gestión</span> }
      </a>
      <a routerLink="/config" class="flex items-center gap-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all" [class.px-4]="!isCollapsed()" [class.justify-center]="isCollapsed()">
        <span class="text-xl shrink-0">⚙️</span>
        @if (!isCollapsed()) { <span class="text-sm font-semibold">Config</span> }
      </a>
      <a routerLink="/reportes" class="flex items-center gap-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all" [class.px-4]="!isCollapsed()" [class.justify-center]="isCollapsed()">
        <span class="text-xl shrink-0">📈</span>
        @if (!isCollapsed()) { <span class="text-sm font-semibold">Reporte</span> }
      </a>
      <a routerLink="/auditoria" class="flex items-center gap-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all" [class.px-4]="!isCollapsed()" [class.justify-center]="isCollapsed()">
        <span class="text-xl shrink-0">📝</span>
        @if (!isCollapsed()) { <span class="text-sm font-semibold">Auditoria</span> }
      </a>
    }

    @if (userRole() === 'ENCUESTADOR') {
      <a routerLink="/encuestas/crear" class="flex items-center gap-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all" [class.px-4]="!isCollapsed()" [class.justify-center]="isCollapsed()">
        <span class="text-xl shrink-0">➕</span>
        @if (!isCollapsed()) { <span class="text-sm font-semibold">Crear</span> }
      </a>
      <a routerLink="/encuestas" class="flex items-center gap-4 px-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all">
        <span class="text-xl">📋</span>
        <span class="text-sm font-semibold">Encuest</span>
      </a>
      <a routerLink="/respuestas" class="flex items-center gap-4 px-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all">
        <span class="text-xl">📩</span>
        <span class="text-sm font-semibold">Resp</span>
      </a>
      <a routerLink="/analisis" class="flex items-center gap-4 px-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all">
        <span class="text-xl">📉</span>
        <span class="text-sm font-semibold">Analisis</span>
      </a>
      }
    @if (userRole() === 'ENCUESTADO') {
      <a routerLink="/encuestas-disponibles" class="flex items-center gap-4 px-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all">
        <span class="text-xl">👥</span>
        <span class="text-sm font-semibold">Encuest</span>
      </a>
      <a routerLink="/mis-respuestas" class="flex items-center gap-4 px-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all">
        <span class="text-xl">⚙️</span>
        <span class="text-sm font-semibold">Respuestas</span>
      </a>
      <a routerLink="/historial" class="flex items-center gap-4 px-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all">
        <span class="text-xl">📈</span>
        <span class="text-sm font-semibold">Historial</span>
      </a>
      <a routerLink="/preferencias" class="flex items-center gap-4 px-4 py-3 text-solve-text-muted hover:text-solve-dark hover:bg-blue-50 rounded-lg transition-all">
        <span class="text-xl">📝</span>
        <span class="text-sm font-semibold">Preferencs</span>
      </a>
    }
  </nav>
</aside>
